.conteudoPrincipal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 88px;
    margin-bottom: 8px;
    gap: 104px;
}

.dadosRedes h2 {
    color: var(--color-primary);
    margin-bottom: 40px;
}

.dadosRedes p {
    color: var(--color-primary);
    font-size: 1.2rem;
}

.dadosRedes p:nth-of-type(2) {
    margin-top: 24px;
    margin-bottom: 56px;
}

.redesSociais svg {
    filter: invert(100%);
    transition: 0.2s ease-in-out;
}

.redesSociais svg:hover {
    transform: scale(1.2);
}

.redesSociais a:first-of-type {
    margin-right: 24px;
}

.formularioContato h2 {
    margin-bottom: 40px;
    color: var(--color-primary);
}

.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
}

.inputsContainer div:nth-of-type(3), .inputsContainer div:nth-of-type(4)  {
    grid-column: 1 / -1;
}

label {
    font-family: var(--type-second);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary);
}

input {
    margin-bottom: 4px;
}

input, textarea {
    font-family: var(--type-second);
    font-size: 1.2rem;
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    margin-top: 8px;
}

.formularioContato button {
    margin-top: 20px;
    margin-bottom: 80px;
}

@media (max-width: 1001px) {
    .dadosRedes {
        display: none;
    }

    .conteudoPrincipal {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 801px) {
    .conteudoPrincipal {
        max-width: 520px;
    }
}

@media (max-width: 651px) {
    .conteudoPrincipal {
        max-width: 470px;
    }
}

@media (max-width: 651px) {
    .conteudoPrincipal {
        max-width: 470px;
    }
}

@media (max-width: 601px) {
    .conteudoPrincipal {
        max-width: 401px;
    }

    label, input, textarea {
        font-size: 1rem;
    }
}

@media (max-width: 501px) {
    .conteudoPrincipal {
        max-width: 350px;
    }
}

@media (max-width: 416px) {
    .conteudoPrincipal {
        max-width: 301px;
    }

    label, input, textarea {
        font-size: 0.8rem;
    }
}

@media (max-width: 361px) {
    .conteudoPrincipal {
        max-width: 290px;
    }
}