.introducaoConteudo {
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    transition: background-image 0.3s ease-in-out;
}

.tagline {
    text-align: center;
    font-family: var(--type-second);
    font-weight: 500;
    color: var(--gray-scale-3);
    padding-top: 104px;
    margin-bottom: 8px;
}

.introducaoConteudo h1 {
    color: var(--gray-scale-0);
    margin-top: 0;
    margin-bottom: 56px;
}

.introducaoConteudo button {    
    margin: 0 auto;
}

.bolinhas {
    display: flex;
    gap: 12px;
    margin-top: 114px;
    padding-bottom: 80px;
    justify-content: center; 
}

.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;    
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.bolinha:last-child {
    margin-right: 0;
}

.active {
    background-color: var(--color-secondary);
}

.passeiosSection h2 {
    color: var(--color-primary);
    text-align: center;
    margin-top: 80px;
}

.passeiosSection p {
    text-align: center;
    font-weight: 400;
    color: var(--color-primary);
}

.passeiosDetalhes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    grid-auto-rows: 256px;
    gap: 16px;
    margin-bottom: 112px;
    margin-top: 64px;
    position: relative;
}

.passeiosDetalhes > img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.passeiosDetalhes p {
    color: var(--color-primary-variation);
}

.imagemPasseioMaior {
    grid-column: span 2;
    grid-row: span 2;          
}

.partirDe, .passeioPreco, .passeioTitulo {
    position: absolute;
    z-index: 10;
}

.partirDe {    
    font-weight: 300;
    font-size: 0.8rem;
}

.partirDe::after{
    content: "";
    width: 174px;
    height: 56px;
    position: absolute;
    background-color: var(--color-secondary);
    z-index: -999;
}

.partirDe:nth-of-type(1) {
    top: 67%;
    left: 3.2%;    
}

.partirDe:nth-of-type(1):after {
    top: -25%;
    left: -62%;
}

.partirDe:nth-of-type(2) {
    top: 21.5%;
    left: 53.9%;    
}

.partirDe:nth-of-type(2):after {
    top: -25%;
    left: -61.8%;  
}

.partirDe:nth-of-type(3) {
    top: 21.5%;
    left: 79.3%;    
}

.partirDe:nth-of-type(3):after {
    top: -25%;
    left: -63%;  
}

.partirDe:nth-of-type(4) {
    top: 73.1%;
    left: 53.95%;    
}

.partirDe:nth-of-type(4):after {
    top: -25%;
    left: -63%; 
}

.partirDe:nth-of-type(5) {
    top: 73.1%;
    left: 79.25%;    
}

.partirDe:nth-of-type(5):after {
    top: -25%;
    left: -63%;  
}

.passeioPreco {
    color: var(--color-primary);
    font-family: var(--type-first);
    font-size: 1.6rem;
    font-weight: 700;
}

.passeioPreco:nth-of-type(1) {
    top: 63.4%;
    left: 3.1%;
}

.passeioPreco:nth-of-type(2) {
    top: 17.8%;
    left: 53.8%;
}

.passeioPreco:nth-of-type(3) {
    top: 17.8%;
    left: 79.2%;
}

.passeioPreco:nth-of-type(4) {
    top: 69.5%;
    left: 53.8%;
}

.passeioPreco:nth-of-type(5) {
    top: 69.5%;
    left: 79.2%;
}

.passeioTitulo {
    color: var(--gray-scale-0);
    max-width: 190px;
    font-size: 1.4rem;
}

.passeioTitulo:nth-of-type(1) {   
    top: 79.8%;
    right: 79.9%;    
}

.passeioTitulo:nth-of-type(2) {    
    top: 34.1%;
    right: 29.1%;
}

.passeioTitulo:nth-of-type(3) {    
    top: 34.1%;
    right: 3.7%;
}

.passeioTitulo:nth-of-type(4) {    
    top: 85.3%;
    right: 29.1%;
}

.passeioTitulo:nth-of-type(5) {    
    top: 85.3%;
    right: 3.7%;
}

.diferenciaisSection {
    background-color: var(--color-primary);
    padding-top: 80px;
    padding-bottom: 88px;
    margin-bottom: 80px;
    display: grid;
    place-items: center;    
}

.diferenciaisSection h2 {
    color: var(--color-secondary);
    margin-bottom: 40px;
}

.diferenciaisSection p {
    color: var(--gray-scale-3);
    font-size: 1.2rem;
    line-height: 160%;
    text-align: center;
}

.diferenciaisDiv {
    position: relative;
    margin-top: 80px;
}

.diferenciaisDiv::after {
    content: "";
    width: 698.5px;
    height: 81px;
    display: block;
    background: url("../assets/linhas.svg") no-repeat center;
    position: absolute;
    top: 80px;
    right: 116px;
    /* z-index: -1; */
}

.diferenciaisDiv img {
    margin-left: 387px;
    max-width: 162px;
}

.diferenciaisLista {
    display: grid;
    grid-template-columns: 230px 258px 232px;    
    justify-items: center;
    gap: 104px;
}

.gridColuna {
    width: 250px;
    margin: 32px 0 20px 0;
    float: none;
    text-align: center;
}

.diferenciaisLista p {
    font-size: 1rem;
    line-height: 160%;
}

.diferenciaisDiv h4 {
    color: var(--gray-scale-0);
}

.diferenciaisLista li p {
    font-size: 1rem;
}

.diferenciaisLista h4 {
    margin-bottom: 32px;
}

.diferenciaisLista h4::after {
    content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: var(--color-secondary);
	margin: 16px auto;
}

.diferenciaisSection button {
    margin-top: 44px;
}
