.sobreIntro {
    background-color: var(--color-primary);
    height: 480px;
    padding-top: 40px;
}

.sobreIntro h1 {
    color: var(--gray-scale-0);
    margin-top: 56px;
    margin-bottom: 40px;
}

.sobreIntro p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    color: var(--gray-scale-3);
    font-size: 1.2rem;
    max-width: 860px;
}

.listaBandeiras {
    display: flex;
    gap: 32px;
    justify-content: center;
}

li img {
    max-width: 46px;
    height: 32px;
}

.missaoSection {
    margin-top: 104px;
    margin-bottom: 104px;    
    display: grid;
    grid-template-columns: 1.3fr 1fr;    
}

.missaoSection h2 {
    color: var(--color-primary);
    margin-bottom: 32px;
}

.missaoSection p {
    color: var(--color-primary);
    font-size: 1.2rem;
}

.missaoSection p:first-of-type {
    margin-bottom: 24px;
}

.missaoSection button {
    margin-top: 24px;
}

.missaoSection img {
    max-width: 361px;
    justify-self: end;    
}
