footer {
    background-color: var(--color-primary);
    padding: 3rem 0;
}

.footerConteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 230px;
    margin-bottom: 64px;
}

h3 {
    color: var(--gray-scale-0);
    margin-bottom: 32px;
}

p {
    font-size: 1rem;
    color: var(--gray-scale-4);
    margin-bottom: 8px;
    line-height: 160%;
}

.footerContato1 {
    margin-bottom: 24px;
}

.footerContato2 {
    margin-bottom: 32px;
}

.redesSociaisFooter {
    display: flex;
    gap: 24px;
    cursor: pointer;
    max-width: max-content;
}

.redesSociaisFooter a {
    transition: 0.2s ease-in-out;
}

.redesSociaisFooter a:hover {
    transform: scale(1.2);
}

.footerInfos a {
    color: var(--gray-scale-4);
    font-family: var(--type-second);
    display: block;
    margin-bottom: 16px;
}

.footerInfos a:hover {
    color: var(--gray-scale-0);
}

@media (max-width: 1251px) {
    .footerConteudo {        
        gap: 130px;
        margin-bottom: 48px;
        grid-template-columns: 1.6fr 1fr 1fr;
    }

    p, a {
        font-size: 0.8rem;
    }

    .redesSociaisFooter {
        gap: 20px;
    }

    .redesSociaisFooter svg {
        max-width: 90%;
    }
}

@media (max-width: 1001px) {
    .footerConteudo {        
        gap: 100px;
        margin-bottom: 48px;
        grid-template-columns: 1fr 0.6fr 0.6fr;
    }    
    
    p, a {
        font-size: 0.7rem;
    }

    .footerConteudo svg {
        max-width: 220px
    }

    .redesSociaisFooter {
        gap: 14px;
    }

    .redesSociaisFooter svg {
        max-width: 75%;
    }
}

@media (max-width: 801px) { 
    .footerConteudo {
        margin-bottom: 48px;
        grid-template-columns: 1fr 1fr;        
    }     
    
    .logotipoFooter {
        display: none;
    }
}

/* @media (max-width: 601px) {
    
} */

@media (max-width: 361px) {
    footer {
        padding: 2rem 0;
    }
    
    .footerConteudo {
        gap: 0px;
        grid-template-columns: 1fr;
        place-content: center;                   
    }

    .footerConteudo svg {
        max-width: 120px
    }
    
    .footerInfos {
        display: none;
    } 

    .footerContato2 {
        margin-bottom: 24px;
    }
    
    .redesSociaisFooter {
        margin: 0 auto;
        padding-left: 8px;
        gap: 8px;
        justify-content: center;
    }

    .redesSociaisFooter svg {
        max-width: 65%;
    }

    footer p, footer h3 {
        text-align: center;
    }

    footer p {
        font-size: 0.6rem;
    }

    footer h3 {
        margin-bottom: 24px;
    }    
}
