.header {
    background-color: var(--color-primary);
    padding: 1.6rem 0 2rem 0;
}

.navigation {
    display: flex;
    gap: 80px;
    padding-left: 87px;
    justify-content: center;
}

.navigation a {
    color: var(--gray-scale-2);
    font-family: var(--type-second);
    font-size: 1rem;
    font-weight: 500;
}

.navigation a:nth-child(3) {
    padding-left: 47px;
    padding-right: 15px;
}

.navigation a:hover {
    color: var(--color-secondary);
}

.navigation a[aria-current="page"] {
    color: var(--color-secondary);
    position: relative;
}

.navigation a[aria-current="page"]::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    top: 25px;
}

.navigation a:nth-child(3)[aria-current="page"]::after {
    content: none;
}

.navigation a:nth-child(1),
.navigation a:nth-child(2),
.navigation a:nth-child(4),
.navigation a:nth-child(5) {
    margin-top: 150px;
}

@media (max-width: 1250px) {
    .navigation {       
        gap: 56px;
        padding-left: 75px;               
    }

    .navigation a {        
        font-size: 0.9rem;       
    }    
}

@media (max-width: 1001px) {
    .header {        
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .navigation {       
        gap: 40px;
        padding-left: 75px;               
    }

    .navigation a {        
        font-size: 0.7rem;       
    }

    .navigation a:nth-child(3) {
        padding-left: 25px;
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 138px;
    }
    
    .navigation svg {
        max-width: 220px;
    } 
    
    .navigation a[aria-current="page"]::after {
        top: 20px;
    }   
}

@media (max-width: 801px) {        
    .navigation {       
        gap: 40px;
        padding-left: 40px;               
    }
    
    .navigation a:nth-child(3) {
        padding-left: 15px;
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 131px;
    }

    .navigation a[aria-current="page"]::after {
        content: none;
    }
    
    .navigation svg {
        max-width: 190px;
    }
}

@media (max-width: 651px) {
    .header {        
        padding: 0.5rem 0 1.2rem 0;
    }
    
    .navigation {       
        gap: 40px;
        padding-left: 25px;               
    }

    .navigation a {        
        font-size: 0.7rem;            
    }

    .navigation a:nth-child(3) {
        padding-left: 25px;
        padding-right: 15px;
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 87px;
    }

    .navigation a:nth-child(3) {
        height: 120px;
    }
    
    .navigation svg {
        max-width: 150px;
        height: 120px;
    }
}

/* Menu mobile */

.menuMobile {
    display: none;
}

@media (max-width: 601px) {
    .header {        
        padding: 0.5rem 0 1.2rem 0;
    }

    .menuMobile {
        display: flex;
        justify-content: space-between;       
        padding-top: 20px; 
    }
    
    .logoMobile {
        margin-top: 10px;
    }

    [data-menu="button"] {
        display: block;
        background-color: transparent;
        border: none;
        position: relative;
        z-index: 300;
        padding: 10px 25px;         
    }

    [data-menu="list"] {
        display: none;
        position: absolute;
        background: var(--color-primary);
        width: 100px;        
        z-index: 200;        
        grid-template-columns: 1fr;              
        right: 0px;
        top: 0;
        padding: 100px 120px 30px 50px;        
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
    }

    [data-menu="list"].active {
        display: grid;
    }

    .navigation a {        
        font-size: 0.8rem;            
    }

    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 0px;
    }

    .navigation a:nth-child(3) {
        display: none;
    }    
}

@media (max-width: 501px) {
    [data-menu="list"] {
        padding: 100px 95px 30px 50px; 
    }
}
@media (max-width: 416px) {
    [data-menu="list"] {
        padding: 100px 77px 30px 50px; 
    }
}

@media (max-width: 361px) {
    [data-menu="list"] {
        padding: 100px 70px 30px 50px; 
    }
}
