.header {
    background-color: var(--color-primary);
    padding: 1.6rem 0 2rem 0;
}

.navigation {
    display: flex;
    gap: 80px;
    padding-left: 87px;
    justify-content: center;
}

.navigation a {
    color: var(--gray-scale-2);
    font-family: var(--type-second);
    font-size: 1rem;
    font-weight: 500;
}

.navigation a:nth-child(3) {
    padding-left: 47px;
    padding-right: 15px;
}

.navigation a:hover {
    color: var(--color-secondary);
}

.navigation a[aria-current="page"] {
    color: var(--color-secondary);
    position: relative;
}

.navigation a[aria-current="page"]::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    top: 25px;
}

.navigation a:nth-child(3)[aria-current="page"]::after {
    content: none;
}

.navigation a:nth-child(1),
.navigation a:nth-child(2),
.navigation a:nth-child(4),
.navigation a:nth-child(5) {
    margin-top: 150px;
}

@media (max-width: 1250px) {
    .navigation {       
        gap: 56px;
        padding-left: 95px;               
    }

    .navigation a {        
        font-size: 0.9rem;       
    }    
}

@media (max-width: 1001px) {
    .header {        
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .navigation {       
        gap: 40px;
        padding-left: 75px;               
    }

    .navigation a {        
        font-size: 0.7rem;       
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 138px;
    }
    
    .navigation svg {
        max-width: 220px;
    } 
    
    .navigation a[aria-current="page"]::after {
        top: 20px;
    }   
}

@media (max-width: 801px) {        
    .navigation {       
        gap: 40px;
        padding-left: 40px;               
    }    
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 131px;
    }

    .navigation a[aria-current="page"]::after {
        content: none;
    }
    
    .navigation svg {
        max-width: 190px;
    }
}

@media (max-width: 601px) {
    .header {        
        padding: 0.5rem 0 1.2rem 0;
    }
    
    .navigation {       
        gap: 32px;
        padding-left: 25px;               
    }

    .navigation a {        
        font-size: 0.6rem;            
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        margin-top: 87px;
    }

    .navigation a:nth-child(3) {
        height: 120px;
    }
    
    .navigation svg {
        max-width: 150px;
        height: 120px;
    }
}   

@media (max-width: 361px) {
    .header {        
        padding: 0.5rem 0 4.8rem 0;
    }
    
    .navigation {
        padding-left: 0px;
        position: relative;               
    }

    .navigation a {        
        font-size: 0.6rem;            
    }

    .navigation a[aria-current="page"]::after {
        content: "";
        height: 1px;
        top: 15px;
    }
    
    .navigation a:nth-child(1),
    .navigation a:nth-child(2),
    .navigation a:nth-child(4),
    .navigation a:nth-child(5) {
        position: absolute;
        top: 65px;
    }

    .navigation a:nth-child(1) {
        left: 0.5%;
    }

    .navigation a:nth-child(2) {
        left: 65px;
    }

    .navigation a:nth-child(3) {
        height: 120px;
    }
    
    .navigation a:nth-child(4) {
        left: 125px;
    }

    .navigation a:nth-child(5) {
        left: 250px;
    }
}
